.project-image-container {
    position: relative;
}

header {
    background: url('https://contentstatic.techgig.com/thumb/msid-81571178,width-460,resizemode-4/How-to-become-a-full-stack-developer-in-2021.jpg') center/cover no-repeat;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
    flex-direction: column;
}

h1 {
    font-size: 3em;
    letter-spacing: 0.15em;
}

h2 {
    color: white;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 25px;
    font-size:3rex;
    font:bold;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content:flex-end;
    font-size: 1em;
}

nav a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    padding: 5px;
}

nav a:hover {
    color: #ff5733; 
}

.about {
    padding: 15px;
    background-color: #f0f0f0;
}

.skills {
    margin-top: 20px;
    color: white;
}

.projects {
    margin-top: 20px;
}

.project {
    margin-bottom: 20px;
    color: white;
}

footer {
    color: #fff;
    text-align: center;
    
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

footer i.fa {
    font-size: 50px;
    margin-right: 15px;
}


body {
    background-color: rgb(33, 6, 79);
}