@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 400px;
}

header {
    position: relative;
}

nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: white;
}

h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em;
    letter-spacing: 0.15em;
}

header :hover {
    color: #ff5733;
}

#holder {
    position:absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#holder:hover {
    color:#ff5733
}

.about {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.about h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

.about p {
    color: #000000;
    line-height: 1.6;
}


footer {
    padding: 5px 0;
    text-align: center;
}

footer a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-size: 200%;
}

footer a:hover {
    color: #ff5733;
}


.skills {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.skill-progress{
    border:1px solid #0c0a0a;
    padding:6px;
    border-radius:10px;
  }
  .progress-width{
    padding:4px;
    border-radius:10px;
    background-image: linear-gradient(120deg, #02C5DB 0%, #002159 100%);
  }
  .progress-width.html{
    width:90%;
  }
  .progress-width.css{
    width:70%;
  }
  .progress-width.js{
    width:50%;
  }
 .progress-width.node{
    width:50%;
  }
  
  .skills-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
      grid-gap: 10px;
  }