@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 400px;
}

header {
    position: relative;
}

nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: white;
}

h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em;
    letter-spacing: 0.15em;
}

header :hover {
    color: #ff5733;
}

#holder {
    position:absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#holder:hover {
    color:#ff5733
}

.blinking-cursor {
    display: none;
    position: absolute;
    top: 0;
    left: 10px;
}

footer {
    padding: 15px;
    text-align: center;
    margin-top: auto;
    position: fixed;
    bottom:0;
    width: 100%;
    height: auto;
}

footer a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-size: 200%;
}

footer a:hover {
    color: #ff5733;
}

