@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-width: 800px;
    max-width: auto;
}

img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 400px;
}

header {
    position: relative;
}

nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: white;
}

h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em;
    letter-spacing: 0.15em;
}

header :hover {
    color: #ff5733;
}

#holder {
    position:absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#holder:hover {
    color:#ff5733
}

.blinking-cursor {
    display: none;
    position: absolute;
    top: 0;
    left: 10px;
}

footer {
    padding: 15px;
    text-align: center;
}

footer a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-size: 200%;
}

footer a:hover {
    color: #ff5733;
}


.about {
    display: inline-block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.whitecontainer {
    text-align: center;
}

.whitecontainerdown img {
    transform: scaleX(-1) scaleY(-1);
}

.skills {
    display: inline-block;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;

    text-align: center;
}



.skill-progress{
    border:1px solid #0c0a0a;
    padding:6px;
    border-radius:10px;
  }
  .progress-width{
    padding:4px;
    border-radius:10px;
    background-image: linear-gradient(120deg, #02C5DB 0%, #002159 100%);
  }
  .progress-width.html{
    width:90%;
  }
  .progress-width.css{
    width:70%;
  }
  .progress-width.js{
    width:50%;
  }
  .progress-width.node{
    width:80%;
  }
  
  .skills-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
      grid-gap: 10px;
  }
  

  /* Portfolio Section Styles */
.profolio-container {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project {
    margin-bottom: 4px;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1px;
}

.project h4 {
    font-size: 1.5em;
}

.project p {
    color: #666;
    font-size: 1em;
}



  
  