@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background: linear-gradient(to right, #4e54c8, #8f94fb);
}

img {
    display: block;
    width: 30%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 150px;
    right: 100px;
}

header {
    position: relative;
}

nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: white;
}

h1 {
    color: white;
    font-size: 3em;
    letter-spacing: 0.15em;
    width: 50%;
    position: absolute;
    top: 200px;
    left: 75px;
}

header:hover h1 {
    color: #ff5733;
}

#holder {
    position: absolute;
    top: 400px;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
}

#holder:hover {
    color: #ff5733;
}

.about {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    position: fixed;
    bottom: 150px;
    width: 100%;

    text-align: center;
    
    
}

.about h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

.about p {
    color: #000000;
    line-height: 1.6;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}

footer {
    padding: 5px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}

footer a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    font-size: 24px;
}

footer a:hover {
    color: #ff5733;
}


.skills {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
}

.skill-progress{
    border:1px solid #0c0a0a;
    padding:6px;
    border-radius:10px;
  }
  .progress-width{
    padding:4px;
    border-radius:10px;
    background-image: linear-gradient(120deg, #02C5DB 0%, #002159 100%);
  }
  .progress-width.html{
    width:90%;
  }
  .progress-width.css{
    width:70%;
  }
  .progress-width.js{
    width:50%;
  }
 .progress-width.node{
    width:50%;
  }
  
  .skills-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
      grid-gap: 10px;
  }


  .resume {
    text-align: center;
    margin-top: 20px;
    position: fixed;
    width: 100%;
    bottom: 50px;
}

.resume a {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.resume a i {
    font-size: 24px;
    margin-right: 10px;
}

.resume a:hover {
    background-color: #ff5733;
}

