body {
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
}


header {
    background-color: #333;
    color: #fff;
    text-align:center;
    padding-top: 60px;
    position:relative;
}

header img {
    border-radius: 50%;
    max-width: 200px;
}

nav {
    background-color: #333;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size:18px;
}

h1 {
    color: white;
    padding-bottom: 20px;
}

h1 a:hover {
    background-color: #ff5733;
}

.about {
    color: #333;
    text-align: justify;
    margin: 60px;
}

.resume {
    text-align: center;
    margin: 30px 0;
}

.resume a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.resume a i {
    font-size: 24px;
    margin-right: 10px;
}

.resume a:hover {
    background-color: #ff5733;
}

footer {
    background-color: #333;
    padding: 5px 0;
    width: 100%;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 24px;
}

footer a:hover {
    color: #ff5733;
}

.skills {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
}

.skill-progress{
    border:1px solid #0c0a0a;
    padding:6px;
    border-radius:10px;
  }
  .progress-width{
    padding:4px;
    border-radius:10px;
    background-image: linear-gradient(120deg, #02C5DB 0%, #002159 100%);
  }
  .progress-width.html{
    width:90%;
  }
  .progress-width.css{
    width:70%;
  }
  .progress-width.js{
    width:50%;
  }
 .progress-width.node{
    width:50%;
  }
  
  .skills-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
      grid-gap: 10px;
  }


